hola
<meta http-equiv="Refresh" content="5">
<table>
	<tr>
		<td>
<div>
<canvas id="myChart1" width="1000" height="500"></canvas>
</div>
		</td>
	</tr>
	<tr>
		<td>
<div>
<canvas id="myChart2" width="1000" height="400"></canvas>
</div>
		</td>
	</tr>
</table>
